.DS_Store
*.suo


# Backend
/.vs
/.vs/RunBuddies/CopilotIndices/18.0.981.45449
/.vs/RunBuddies.slnx/FileContentIndex
/Service/obj
/Service/.vs/RunBuddies
/Service/bin/Debug/net10.0
/Service/.claude
/Service/appsettings.Development.json
/Service/appsettings.ea.json
/Service/.vs/ProjectEvaluation
Service/PLAN.md
/Service/.vs

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
build/

# Vite
.vite/
.vite-temp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
/.claude
/Service/RunBuddies.csproj.user
*.md
