.DS_Store
*.suo


# Backend
/.vs
/.vs/RunBuddies/CopilotIndices/18.0.981.45449
/.vs/RunBuddies.slnx/FileContentIndex
/Service/obj
/Service/.vs/RunBuddies
/Service/bin/Debug/net10.0
/Service/.claude
/Service/appsettings.Development.json
/Service/.vs/ProjectEvaluation
